
/*КОНТЕНТ*/

.content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .img {
    width: 440px;
    height: auto;
  }
  
  .fill_button_tohome {
    margin-top: 40px;
    text-decoration: none;
    padding: 14px 34px;
    background-color: #221A17;
    color: #FFFEFE;
    cursor: pointer;
    border: 2px solid #221A17;
    transition: background-color 0.5s ease-in-out,border 0.5s ease-in-out, color 0.5s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
  }
  
  .fill_button_tohome:hover {
    color: #221A17;
    background-color: #FFFEFE;
    border: 2px solid #221A17;
  }

  .content p{
    font-size: 124px;
    font-weight: 400;
  }

  .kryhty a,
  .kryhty img {
    margin: 18px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #221A17;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }

  .kryhty img {
    display: inline-block;
    
  }

  .kryhty {
    width: 100%;
    height: 60px;
    margin: 40px auto 0;
    background-color: #FFF8F8;
    display: flex;
    align-items: center;
  }

  @media (max-width: 1200px) {
    .container {
      padding: 0 88px; /* Збільшення відступів на менших екранах */
    }
    
      .kryhty {
        width: 100%;
        height: 46px;
        margin: 40px auto 0;
        background-color: #FFF8F8;
        display: flex;
        align-items: center;
      }
    
      .img {
        width: 340px;
        height: auto;
      }
      .fill_button_tohome {
        margin-bottom: 0;
      }
  }

  @media (max-width: 768px) {
    .container {
      padding: 0 88px; /* Збільшення відступів на менших екранах */
    }
    .kryhty {
        width: 100%;
        height: 46px;
        margin: 0 auto;
        background-color: #FFF8F8;
        display: flex;
        align-items: center;
    }
    
    .img {
        width: 310px;
        height: auto;
    }
    .kryhty a, .kryhty img{
        margin: 18px 10px;
        text-decoration: none;
        font-size: 16px;
        color: #221A17;
        text-transform: none;
        font-weight: 500;
        cursor: pointer;
    }

    .content p{
        font-size: 64px;
        font-weight: 400;
    }

    .content h3{
        font-size: 18px;
        font-weight: 600;
    }

  }

  @media (max-width: 480px) {
    .container {
      padding: 0 88px; /* Збільшення відступів на менших екранах */
    }
    .kryhty {
        display: none;
    }
    
    .img {
        width: 234px;
        height: auto;
    }

    .content p{
        font-size: 64px;
        font-weight: 400;
    }

    .content h3{
        font-size: 18px;
        font-weight: 600;
    }

    .fill_button_tohome {
        margin-bottom: 60px;
      }
  }